.message {
    /* background: linear-gradient(transparent 70%, #a7d6ff 70%); */
    padding: 5px 10px;
    font-weight: bold;
    color: midnightblue;
    border-left: 1px dashed;
    /* border-right: 1px dashed; */
}

.left-line {
    border-left: 1px solid;
    padding-left: 10px;
}